<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
</head>
<body>
					<span>
						Account Login
					</span>
					
					<div>
						<input id="first-name" class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100"></span>
					</div>
					<div>
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div>
						<button class="login100-form-btn">
							Sign in
						</button>
					</div>

					<div>
						<span>
							Forgot
						</span>

						<a href="#" class="txt2">
							User name / password?
						</a>
					</div>

					<div>
						<a href="/web-app/create" class="txt3">
							Sign Up
						</a>
					</div>
				</form>
		</div>
	</div>
</body>
</html>