<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Today Tasks</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">ToDo</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">users</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/createtodo}">Add Todo</a>
            <a class="btn btn-info" th:href="@{/searchpersonal}">Личные Todos</a>
            <a class="btn btn-info" th:href="@{/searchwork}">Рабочие Todos</a>
            <a class="btn btn-info" th:href="@{/searchusers}">Пользовательские Todos</a>
            <a class="btn btn-info" th:href="@{/todaytasks}">Задачи на сегодня</a>
            <table>
                <div>
                    <form id="field" method="get">
                        <label for="date_from">С даты: </label>
                        <input id="date_from" name="date_from" required type="datetime-local" class="form-control"/>
                        <label for="date_to">По дату: </label>
                        <input type="datetime-local" id="date_to" required name="date_to" class="form-control"/>
                    </form>
                    <br>
                    <button class="btn btn-info" form="field" type="submit" formaction="/web-app/betweendates">Поиск</button>
                </div>
            </table>
        </div>
        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col" hidden="true">Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time notification</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Done</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${categor.isEmpty()}">
                    <td class="text-center" colspan="5">No data</td>
                </tr>
                <tr th:each="cat : ${categor}">
                    <th scope="row" hidden="true" th:text="*{cat.id}">1</th>
                    <td th:text="${cat.text}">Text</td>
                    <td th:text="${cat.timeNotification}">2021</td>
                    <td th:text="${cat.categories}">Common</td>
                    <td th:text="${cat.done}">None</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/update/{id}(id=${cat.id})}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" th:href="@{/deletetodo/{id}(id=${cat.id})}"><i class="far fa-trash-alt"></i></a>
                        <a class="btn btn-primary" th:href="@{/subtasks/{id}(id=${cat.id})}">Subtasks</i></a>
                    </td>
                </tbody>
                </tr>
            </table>
            <a class="btn btn-outline-success" th:href="@{/}">Назад</a>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>